body {
    margin: 0;
}

header {
    font-family: 'SCoreDream';
    width: 100%;
    height: 70px;
    background-color: #30A2FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -3px 10px black;
    position: fixed;
    top: 0;
    z-index: 100;
}

header .logo_box {
    margin-left: 15px;
}

header .logo {
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    font-size: 35px;
}

header .item_box {
    display: flex;
    margin-right: 10px;
}

header .gg_hidden_box {
    display: none;
    position: absolute;
    margin-top: 30px;
    top: 30px;
    right: 100px;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0px 0px 5px 0.0005px #4f4f4f;
}

header .item_box a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 8px 10px;
    background-color: #e8f1ff;
}

header .lang_box {
    /* width: 120px; */
    display: flex;
    justify-content: center;
    margin-right: 25px;
    align-items: center;
}

header .lang_box .lang label {
    cursor: pointer;
    position: relative;
    color: white;
}

header .lang_box input {
    display: none;
}

header .lang_box .hidden_box {
    display: none;
    position: absolute;
    margin-top: 30px;
    top: 30px;
    right: 7px;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0px 0px 5px 0.0005px #4f4f4f;
}

header .gg_box label {
    cursor: pointer;
    position: relative;
    color: white;
    margin-right: 10px;
}

header .mj_box label {
    cursor: pointer;
    position: relative;
    color: white;
}

header .mj_hidden_box {
    display: none;
    position: absolute;
    margin-top: 30px;
    top: 30px;
    right: 55px;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0px 0px 5px 0.0005px #4f4f4f;
}

.hidden_box>div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 8px 10px;
    background-color: #e8f1ff;
}

.hidden_box img {
    width: 20px;
    height: 15px;
    margin-left: 0px;
    margin-right: 5px;
}

.hidden_box a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    header .logo {
        font-size: 25px;
    }

    header .lang_box {
        margin: 0;
        margin-right: 10px;
    }

    .hidden_box>div {
        width: 90px;
    }

    .hidden_box a {
        font-size: 15px;
    }
}