*{
    font-family: 'SCoreDream';
}

.main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../image/gc4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20px;
    
}

.main > div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 600px;
    justify-content: space-between;
}

.main .map_img{
    width: 50%;
    margin-bottom: 30px;
    filter: drop-shadow(2px 4px 6px black);
    margin-right: -;
}

.main span{
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}

.main span img{
    width: 30px;
    margin-top: -10px;
}

.main h2{
    width: calc(100vw - 30px);
    margin: 0;
    padding-bottom: 10px;
}

.section {
    display: flex;
    flex-direction: row;
}

.mainbox img {
    width: 800px;
    height: 650px;
}

.thema_name {
    margin-top: -600px;
    margin-left: 90px;
}

.box {
    flex-grow: 1;
    box-sizing: border-box;
}

.recomand_list_wrap {
    margin: 40px 0 0 24px;
}

li > .image {
    width: 100%;
}

li > .image > img {
    width: 100%;
    height: 500px;
}

.text {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    width: 33%;
    height: 80%;
    list-style: none;
    border: 1px solid #e5e5e5;
}

.tit {
    font-size: 100px;
    color: white;
    /* margin-top: -800px; */
}