*{
    font-family: 'SCoreDream';
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
}

.main {
    /* padding-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60px;
    /* background-attachment: fixed; */
    height: 100%;
    animation: fade 20s infinite;
}

@keyframes fade {
    0% {
        background-image:url(../image/yd2.jpg);
    }
    20%{
        background-image:url(../image/yd2.jpg);
    }
    25% {
        background-image:url(../image/gc2.jpg);
    }
    45%{
        background-image:url(../image/gc2.jpg);
    }
    50%{
        background-image:url(../image/dadaepo1.jpg);
    }
    70%{
        background-image:url(../image/dadaepo1.jpg);
    }
    75%{
        background-image:url(../image/csp2.jpg)
    }
    95%{
        background-image:url(../image/csp2.jpg)
    }
    100%{
        background-image:url(../image/yd2.jpg)
    }

}

@keyframes up {
    from{
        margin-bottom: -100px;
    }
    to{
        margin-bottom: 0px;
    }
}

.main .main_box{
    margin-top: 100px;
    width: 1200px;
    height: 100%;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* min-height: 600px; */
    /* justify-content: space-between; */
}

.main .map_img{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 50px;
    right: -90px;
    animation: up 0.5s;
}

.main .top_box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main #main_map{
    display: none;
}

.main .map_name{
    color: white;
    font-weight: 600;
}

.main .img_box{
    width: 500px;
    height: 100%;
    position: relative;
}

.main .img_box label{
    position: absolute;
    bottom: -40px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .img_box label span{
    font-size: 45px;
    cursor: pointer;
    color: white;
}

.main > div > div > span{
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}

.main span img{
    width: 30px;
    margin-top: -10px;
}

.main h2{
    width: 1200px;
    margin: 0;
    padding-bottom: 10px;
    /* animation: name_change 20s infinite; */
}

.main h2::after{
    content: "부산";
    animation: name_change 20s infinite;
}

@keyframes name_change {
    0% {
        content: "부산 송도해상케이블카";
    }
    18%{
        content: "부산 송도해상케이블카";
    }
    25% {
        content: "부산 감천문화마을";
    }
    43%{
        content: "부산 감천문화마을";
    }
    50%{
        content: "부산 다대포";
    }
    68%{
        content: "부산 다대포";
    }
    75%{
        content: "부산 청사포";
    }
    93%{
        content: "부산 청사포";
    }
    100%{
        content: "부산 송도해상케이블카";
    }
}

@keyframes name_eng_change {
    0% {
        content: "Busan Songdo Sea Cable Car";
    }
    18%{
        content: "Busan Songdo Sea Cable Car";
    }
    25% {
        content: "Busan Gamcheon Culture Village";
    }
    43%{
        content: "Busan Gamcheon Culture Village";
    }
    50%{
        content: "Busan Dadaepo Beach";
    }
    68%{
        content: "Busan Dadaepo Beach";
    }
    75%{
        content: "Busan Cheongsapo";
    }
    93%{
        content: "Busan Cheongsapo";
    }
    100%{
        content: "Busan Songdo Sea Cable Car";
    }
}

@keyframes name_cn_change {
    0% {
        content: "釜山 松岛海上缆车";
    }
    18%{
        content: "釜山 松岛海上缆车";
    }
    25% {
        content: "釜山 甘川文化村";
    }
    43%{
        content: "釜山 甘川文化村";
    }
    50%{
        content: "釜山 多大浦";
    }
    68%{
        content: "釜山 多大浦";
    }
    75%{
        content: "釜山 青沙浦";
    }
    93%{
        content: "釜山 青沙浦";
    }
    100%{
        content: "釜山 松岛海上缆车";
    }
}

.main .main_element_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.city_name{
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 600;
    color: white;
}

#wt_tp{
    font-size: 45px;
    font-weight: 600;
    color: white;
    /* filter: drop-shadow(2px 4px 50px gray); */
}

.ct_wt {
    display: flex;
    align-items: flex-end;
}

.ct_wt img{
    filter: invert(1);
    width: 135px;
}

.main .clock2{
    font-size: 55px;
    font-weight: 600;
    color: white;
    /* filter: drop-shadow(2px 4px 50px gray); */
}

.main .move_icon{

}

.main .move_icon span{
    color: white;
    margin-bottom: 20px;
    font-size: 60px;
    cursor: pointer;
    transition: all 0.3s;
}

.main .move_icon span:hover{
    scale: 1.2;
}

.section {
    z-index: -2;
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
}

.section .thema_name_box{
    width: 1200px;
    position: absolute;
    top: 40px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 400;
}

.section .mainbox {
    width: 1200px;
    height: 400px;
    position: absolute;
    animation-name: next_main;
    animation-duration: 0.6s;
    /* animation-timing-function: calc(0.5s/4); */
}

.section .box{
    display: block;
    width: 100%;
    height: 400px;
}

.section .box2{
    display: block;
    width: 100%;
    height: 400px;
}

.section .recomand_list_wrap{
    width: 100%;
    height: 100%;
}

.section video{
    position: absolute;
    z-index: -3;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes next_main {
    0% {
        left: -50%;
        opacity: 0;
    }
    100% {
        left: 120px;
        opacity: 1;
    }
}

@keyframes back_main {
    0% {
        right: -50%;
        opacity: 0;
    }
    100% {
        right: 120px;
        opacity: 1;
    }
}

.section #ocean {
    z-index: 0;
}

.section #food {
    z-index: -1;
}

.section #btn{
    z-index: -2;
}

.mainbox img {
    width: 700px;
    height: 350px;
    margin: 0;
    object-fit: cover;
}

.thema_name {
    position: absolute;
    top: 50px;
}

.htl{
    padding-left: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    border-bottom: 10cm;
    font-size: 16px;
    font-weight: 550;
    color: rgb(11, 2, 2);
    margin-top: 60px;
}

.section #food_text {
    color: white;
}

.thema_name > .tit {
    font-size: 50px;
    color: white;
    position: relative;
    /* top: 350px; */
    left: 15px;
}

ul {
    position: absolute;
    display: flex;
    left: 330px;
    top: 80px;
    padding-left: 0px;
    /* animation-name: next_main; */
    /* animation-duration: 0.6s; */
    /* animation-timing-function: calc(0.5s/4); */
}

li > .image {
    width: 100%;
}

li > .image > img {
    width: 100%;
    height: 215px;
    object-fit: cover;
}

.box .recomand_list_wrap ul {
    /* margin: -40px 0 0 -24px;
    z-index: 0; */
}

.box .recomand_list_wrap li {
    width: 250px;
    margin: 40px 0 0 24px;
    /* z-index: 0; */
}

.box2 .recomand_list_wrap ul {
    /* margin: -40px 0 0 -24px; */
    z-index: 0;
}

.box2 .recomand_list_wrap li {
    width: 250px;
    margin: 40px 0 0 24px;
    z-index: -1;
}

li {
    list-style: none;
    background-color: white;
    box-shadow: 5px 5px 30px -20px;
    border: 1px solid rgb(234, 234, 234);
}

.text > span {
    width: 600px;
    /* background-color: rgb(231, 240, 241);
    border-radius: 8%; */
    text-align: left;
    margin-left: 15px;
}

.tage_group {
    font-size: 13px;
    padding: 0;
    border: none;
    color: #6672a4;
}

.item_title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.item_text {
    font-size: 13px;
    max-height: 45px;
    margin-top: 5px;
    color: #333;
}

.section button {
    position: absolute;
    border: none;
    background-color: transparent;
    font-weight: 100;
    transition: 0.25s;
    font-size: 30px;
    width: 50px;
    height: 50px;
    /* background-color: #d7eaff; */
    border-radius: 50%;
    color: black;
}

button:active {
    /* background: #3e3e3e; */
}

button:disabled {
    /* background: #cbcaca; */
}

.back {
    bottom: 50%;
    left: -60px;
}

.next {
    bottom: 50%;
    right: -60px;
}

@media screen and (max-width: 650px) {
    .main{
        width: 100%;
        height: 100vw;
        background-position-x: 50%;
    }

    .main .main_box{
        width: 100%;
        height: 100vw;
        align-items: center;
    }

    .main .top_box {
        width: 90%;
    }

    .main h2 {
        font-size: 20px;
    }
    .main span img {
        width: 25px;
    }

    .main .main_element_box{
        width: 90%;
        margin-top: 10px;
    }

    .city_name {
        margin: 0;
        font-size: 30px;
    }

    .ct_wt img {
        width: 55px;
    }

    #wt_tp {
        font-size: 20px;
    }

    .main .clock2 {
        font-size: 23px;
    }

    .main .map_img{
        bottom: 20px;
        right: -50px;
    }

    .main .img_box label span{
        font-size: 25px;
    }

    .main .img_box label{
        bottom: 0;
    }

    .main .move_icon span{
        margin-bottom: 0px;
        font-size: 40px;
    }

    .section {
        height: auto;
        min-height: 100%;
        /* flex-direction: column;
        justify-content: start;
        width: 60%;
        top: 50px;
        height: 1250px; */
    } 
    .section .mainbox {
        width: 80%;
        height: 100%;
        min-height: 100%;
        position: relative;
        margin-top: 120px;
        /* position: absolute; */
        /* position: flex;
        justify-content: center;
        align-content: center; */
    }
    .section #ocean {
        animation: none;
    }
    .section #food {
        animation: none;
    }

    .section #btn{
        animation: none;
        display: none;
    }

    .section .box {
        width: 100%;
        height: auto;
    }
    .section .box2 {
        width: 100%;
        height: auto;
    }
    .mainbox img {
        width: 100%;
        height: 150px;
    }
    .thema_name > .tit {
        font-size: 45px;
        /* color: white;
        /* top: 350px; */
        top: -35px;
    }
    .text {
        display: none;
    }
    ul {
        flex-direction: column;
        position: static;
        /* left: -41px;
        top: 215px;
        align-content: center; */
    }
    .section button {
        display: none;
    }
    li {
        box-shadow: 0px 0px;
    }
    .box .recomand_list_wrap li{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .box .recomand_list_wrap{
        width: 100%;
        margin: 0; 
    }
    .box2 .recomand_list_wrap{
        width: 100%;
        margin: 0;
    }
    .box2 .recomand_list_wrap li{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }



    .section .thema_name_box{
        width: 80%;
    }
}


/* 전시회 section */
.festival-section {
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.festival-section .btn_box{
    position: absolute;
    bottom: 90px;
} 

.festival-section button {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border-color: rgb(237, 242, 183); */
    /* background-color: rgb(237, 242, 183); */
    border: none;
    z-index: 10;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    background-color: white;
}

.festival-section .festival-slider {
    /* display: flex; */
    /* overflow: hidden; */
    /* margin-top: 50px; */
    width: 1200px;
    height: 275px;
    margin-top: -300px;
    /* margin-left: -200px; */
    /* background-color: #F8F9FC; */
}

.festival-section .festival-slider .white_gr{
    background: linear-gradient( to right, rgb(255 255 255 / 0%) 10%, rgb(255 255 255 / 0%) 25%, rgb(255 255 255 / 0%) 50%, rgb(255 255 255 / 100%) 90%, rgb(255 255 255) 100% );
    height: 100%;
    position: absolute;
    width: 100%;
    top: -100%;
}

.festival-section .festival-slider h1 {
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: 400;
}

.festival-section .festival-slider .slide-list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 90px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.festival-section .festival-slider .slide-list-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    /* padding-bottom: 90px; */
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -90px;
}

.festival-section .festival-slider .slide-list .slide-cont {
    position: relative;
    object-fit: cover;
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: top left;
    box-sizing: content-box; */
    height: 250px;
    width: 200px;
    
}

.slide-cont:not(:nth-child(1)){
    margin-right: 10px;    
}   


.slide-cont:nth-child(1){
    scale: 1.1;
    margin-right: 20px;
    margin-bottom: 12px;
    z-index: 1;
}

.slide-cont a{
    position: absolute;
    text-decoration: none;
    color: black;
    font-weight: 600;
    bottom: -45px;
    z-index: 1;

}

.festival-section .festival-slider .slide-main {
    z-index: 10;
    height: 350px;
    width: 230px;
}

@media screen and (max-width: 650px) {
    .festival-section .festival-slider{
        width: 80%;
    }
    .festival-section .festival-slider .slide-list{
        width: 100%;
        padding-left: 10px;
        margin-top: -60px;
    }
    .festival-section .festival-slider .slide-list-2{
        width: 100%;
        margin-top: -60px;
    }
    .festival-section .festival-slider h1 {
        margin-left: 0;
        /* font-size:38px;
        font-weight: 550; */
    }

    .festival-section .festival-slider .slide-list .slide-cont{
        height: 190px;
        width: 140px;
    }

    .festival-section .festival-slider .white_gr{
        top: -90%;
    }

    /* .festival-section button {
        position: relative;
        top: -75px;
        left: 235px;
        width: 25px;
        height: 25px;
        margin: 3px;
        border-radius: 100%;
        border-color: rgb(237, 242, 183);
        background-color: rgb(237, 242, 183);
        z-index: 10;
        cursor: pointer;
        display: none;
    } */

    .festival-section .btn_box{
        position: absolute;
        bottom: 90px;
    } 
}