* {
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
section{
    width: 100%;
    height: 100%; 
}
main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 70px 16px;
    max-width: 1024px;
    margin: 0 auto;
    background-color:#77B0F0
}

.mainInfor1 {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: solid rgb(104, 170, 228);
}
.mainInfor1_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transform: translateX(0%);
    animation: imgslide 10s ease-in-out infinite;
}
#mainInfor1 .mainInfor1_wrapper img {
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
    flex: 1 0 auto;
}
.introduce {
    display: flex;
    flex-direction: column;
}

.mainSecond {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.title2 {
    text-align: right;
    margin: 0;
}
.mainInfor2 > img {
    width: 600px;
    height: 400px;
    border-radius: 10%;
}
.title2 > h2 {
    width: 400px;
    position: relative;
}
.title2 > p {
    width: 400px;
    position: relative;
}

.mainThird {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.title3 {
    text-align: left;
    margin: 0;
}
.mainInfor3 > img {
    width: 600px;
    height: 400px;
    border-radius: 10%;
}
.title3 > h2 {
    width: 400px;
    position: relative;
}
.title3 > p {
    width: 400px;
    position: relative;
}
.mainFourth {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.title4 {
    text-align: right;
    margin: 0;
}
.mainInfor4 > img {
    width: 600px;
    height: 400px;
    border-radius: 10%;
}
.title4 > h2 {
    width:400px;
    position: relative;
}
.title4 > p {
    width:400px;
    position: relative;
}

.route{
  padding-top: 70px;
}
.map {
    display: flex;
    justify-content:space-between;
    position: relative;
    margin: 0;
}
.route > h2{
    text-align: center;
}
.road > img {
    width: 500px;
    height: 450px;
    border: solid black;
}
.road > img:hover {
    width:700px;
    height:500px;
}

aside > .btn {
    display: flex;
    flex-direction: column;
    position: fixed; 
    right: 50%; 
    top: 180px; 
    margin-right: -750px;
    text-align:center;
    padding: 32px 14px;
    background-color: rgb(104, 170, 228);
    border-radius: 10%;
    box-shadow: 0px 3px 10px rgb(4, 29, 220);
    border: solid rgb(54, 62, 176);
}
.first_Btn, .second_Btn, .third_Btn, .fourth_Btn{
    background-color: rgb(138, 236, 236);
    margin-bottom: 5px;
    width: 200px;
    border-radius: 5rem;
    border: solid rgb(54, 62, 176);
}
.first_Btn > a, .second_Btn > a, .third_Btn > a, .fourth_Btn > a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
}
aside > .btn2 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0px 16px;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #77B0F0
}
.top_Btn {
  margin-bottom: 3px;
  width: 200px;
  font-size: 60px;
  text-align: center;
  color: #2376d4;
}
.top_Btn > a {
  text-decoration: none;
  
}

/* 효과 */
@keyframes mySlide1 {
    from {
      right: -100px;
      opacity: 0;
    }
    to {
      right: 0px;
      opacity: 1;
    }
  }
@keyframes disapear1 {
    from {
      right: 0px;
      opacity: 1;
    }
    to {
      right: -100px;
      opacity: 0;
    }
  }

 @keyframes mySlide2 {
    from {
      left: -100px;
      opacity: 0;
    }
    to {
      left: -0px;
      opacity: 1;
    }
  }
@keyframes disapear2 {
    from {
      left: 0px;
      opacity: 1;
    }
    to {
      left: -100px;
      opacity: 0;
    }
  }

  @keyframes mySlide3 {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0px;
      opacity: 1;
    }
  }
@keyframes disapear3 {
    from {
      bottom: 0px;
      opacity: 1;
    }
    to {
      bottom: -100px;
      opacity: 0;
    }
  }
  
  @keyframes imgslide {
    0% {
      transform: translateX(0%);
    }
  
    20% {
      transform: translateX(0%);
    }
  
    25% {
      transform: translateX(-100%);
    }
  
    45% {
      transform: translateX(-100%);
    }
  
    50% {
      transform: translateX(-200%);
    }
  
    70% {
      transform: translateX(-200%);
    }
  
    75% {
      transform: translateX(-300%);
    }
  
    95% {
      transform: translateX(-300%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }



  @media screen and (max-width: 650px) {
    .mainInfor1_wrapper > img {
      width: 500px;
      height: 400px;
      object-fit: cover;
    }
    .mainInfor2 > img, .mainInfor3 > img, .mainInfor4 > img  {
        width: 500px;
        height: 400px;
        object-fit: cover;
        border-radius: 40%;
    }
    .introduce {
        align-items: center;
    }
    .introduce > .title {
        text-align: center;
    }
    .informOne, .informTwo {
        margin-bottom: 30px;
        text-align: center;
        width:400px;
    }
    .mainSecond, .mainFourth, .map{
        display: flex;
        flex-direction: column;
        height:100%;
        text-align: center;
    }
    .mainThird {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .mainInfor2, .mainInfor3, .mainInfor4, .map{
        align-items: center;
    }
    .title2 > h2, .title3 > h2, .title4 > h2, .route > h2{
        text-align: center;
        width: auto;
    }
    .title2 > p, .title3 > p, .title4 > p{
        text-align: center;
        width: auto;
    }
    .road > img:hover {
      width:580px;
      height:450px;
    }
    aside > .btn {
      flex-direction: row;
      position: absolute;
      right: 70%;
      margin-right: -375px;
      top: 530px;
      padding: 0;
      background-color: #77B0F0;
      box-shadow: none;
      border:none;
    }
    .first_Btn, .second_Btn, .third_Btn, .fourth_Btn{
      width: 130px;
      border-radius: 0%;
      border: thick double rgb(54, 62, 176);
  }
    .first_Btn > a, .second_Btn > a, .third_Btn > a, .fourth_Btn > a {
      text-decoration: none;
      color: rgb(rgb(125, 113, 215), green, blue);
      font-size: 20px;
  }
  }