html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
section{
    width: 100%;
    height: 100%; 
}
main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    max-width: 1024px;
    margin: 0 auto;
}

.mainInfor1 > img {
    width: 100%;
    height: 500px;
}
.introduce {
    display: flex;
    flex-direction: column;
}

.mainSecond {
    display: flex;
    justify-content: space-between;
}
.title2 {
    text-align: right;
    margin: 0;
}
.mainInfor2 > img {
    width: 600px;
    height: 400px;
}
.title2 > h2 {
    width: 400px;
    position: relative;
    animation: mySlide 1s ease-out;
}
.title2 > p {
    width: 400px;
    position: relative;
    animation: mySlide 1s ease-out;
}

.mainThird {
    display: flex;
    justify-content: space-between;
}
.title3 {
    text-align: left;
    margin: 0;
}
.mainInfor3 > img {
    width: 600px;
    height: 400px;
}
.title3 > h2 {
    width: 400px;
    animation: mySlide2 1s ease-out;
}
.title3 > p {
    width: 400px;
    animation: mySlide2 1s ease-out;
}
.mainFourth {
    display: flex;
    justify-content: space-between;
}
.title4 {
    text-align: right;
    margin: 0;
}
.mainInfor4 > img {
    width: 600px;
    height: 400px;
}
.title4 > h2 {
    width:400px;
}
.title4 > p {
    width:400px;
}
.map {
    display: flex;
    justify-content:space-between;
    margin: 0;
}
.route > h2{
    text-align: center;
}
.road > img {
    width: 500px;
    height: 450px;
    border: solid black;
}

/* 효과 */
@keyframes mySlide {
    from {
      right: -100px;
      opacity: 0;
    }
    to {
      right: 0px;
      opacity: 1;
    }
  }
  @keyframes disappear {
    from {
      right: 0px;
      opacity: 1;
    }
    to {
      right: -100px;
      opacity: 0;
    }
  }

  @keyframes mySlide2 {
    from {
      left: -100px;
      opacity: 0;
    }
    to {
      left: 0px;
      opacity: 1;
    }
  }
  @keyframes disappear2 {
    from {
      left: 0px;
      opacity: 1;
    }
    to {
      left: -100px;
      opacity: 0;
    }
  }